<form method="POST" action="/behavior/summary/month">
    <div>
        <p>Month</p>
        <input type="month" name="month" value="2020-<%= month %>"/>
    </div>
    <input type="submit" value="Change month!" />
</form>
<% if(summaryData.length > 0) { %>
<h2>Month:<%= summaryData[0].month %> </h2>
<table>
    <thead>
        <tr>
            <th>Average sleep quality</th>
            <th>Average sleep dration</th>
            <th>Average study dration</th>
            <th>Average exercise dration</th>
            <th>Average mood</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= summaryData[0].avg_sleepquality %></td>
            <td><%= summaryData[0].avg_sleepduration %></td>
            <td><%= summaryData[0].avg_study %></td>
            <td><%= summaryData[0].avg_exercise %></td>
            <td><%= summaryData[0].avg_mood %></td>
        </tr>
    </tbody>
</table>
<% } else { %>
    <h2>No data for selected month </h2>
<% } %>