<form action="POST" action="/behavior/summary/week">
    <div style="width:100%">
        <p>Date</p>
        <input type="week" name="week" value="2020-W<%= weekSummary.week %>"/>
    </div>
    <input type="submit" value="Change week!" />
</form>

<% if(weekSummary) { %>
<h2>Week:<%= weekSummary.week %> </h2>
<table>
    <thead>
        <tr>
            <th>Average sleep quality</th>
            <th>Average sleep dration</th>
            <th>Average study dration</th>
            <th>Average exercise dration</th>
            <th>Average mood</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= weekSummary.avg_sleepquality %></td>
            <td><%= weekSummary.avg_sleepduration %></td>
            <td><%= weekSummary.avg_study %></td>
            <td><%= weekSummary.avg_exercise %></td>
            <td><%= weekSummary.avg_mood %></td>
        </tr>
    </tbody>
</table>
<% } else { %>
    <h2>No data for selected week </h2>
<% } %>