<%- include('./partials/reportingHeader.ejs') %>
<div style="display: flex;">
    <div style="flex: 1 1 0;"></div>
    <div style="flex: 1 1 0;">
        <form style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px;     grid-template-rows: 80px;" method="POST" action="/behavior/reporting/evening"> 
            <div style="width:100%;">
                <p>Date</p>
                <input type="date" name="date" value="<%= date %>" style="width:100%"/>
            </div>
            <div style="width:100%;">
                <p>Time spent on exercise (0.1h accuracy)</p>
                <input type="number" name="exerciseTime" step="0.5" min="0" style="width:100%"/>
            </div>
            <div style="width:100%;">
                <p>Time spent studying (0.1h accuracy)</p>
                <input type="number" name="studyTime" step="0.5" min="0" style="width:100%"/>
            </div>
            <div style="width:100%">
                <p>Regularity and quality of eating</p>
                <div style="display: flex;">
                <% for(var i = 1; i <= 5; i++) { %>
                    
                    <input type="radio" id="<%= i %>" name="qualityOfEating" value="<%= i %>">
                    <label for="<%= i %>"><%= i %></label><br>
                <% } %>
                </div>
            </div>
            <div style="width:100%">
                <p>Generic mood</p>
                <div style="display: flex;">
                <% for(var i = 1; i <= 5; i++) { %>
                    
                    <input type="radio" id="<%= i %>" name="mood" value="<%= i %>">
                    <label for="<%= i %>"><%= i %></label><br>
                <% } %>
                </div>
            </div>
            <div></div>
            <div style="width:100%; margin-top: 30px;">
                <input type="submit" value="Submit report!" />
            </div>
        </form>
    </div>
</div>