<%- include('./partials/reportingHeader.ejs') %>
<div class="flex-container">
    <div>
        <form class="reporting-form" method="POST" action="/behavior/reporting/morning"> 
            <div class="reporting-form-main-div">
                <p>Date</p>
                <input type="date" name="date" value="<%= date %>"/>
            </div>
            <div class="reporting-form-main-div">
                <p>Sleep duration (0.1h accuracy)</p>
                <input type="number" name="sleepDuration" value="<%= sleepDuration %>" step="0.1"  min="0" required/>
            </div>
            <div class="reporting-form-main-div">
                <p>Sleep quality</p>
                <div class="flex-container">
                <% for(var i = 1; i <= 5; i++) { %>
                    <% if(sleepQuality === i) { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label><br>
                    <% } else { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label><br>
                    <% } %>
                <% } %>
                </div>
            </div>
            <div class="reporting-form-main-div">
                <p>Generic mood</p>
                <div class="flex-container">
                <% for(var i = 1; i <= 5; i++) { %>
                    <% if(morningMood === i) { %>
                        <input type="radio" id="mood-<%= i %>" name="mood" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label><br>
                    <% } else { %>
                        <input type="radio" id="mood-<%= i %>" name="mood" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label><br>
                    <% } %>
                <% } %>
                </div>
            </div>
            <div class="reporting-submit-button">
                <% if(morningDone) { %>
                <input type="submit" value="Update report!" />
                <% } else { %>
                    <input type="submit" value="Submit report!" />
                <% } %>
            </div>
        </form>
    </div>
    <div>
    </div>
</div>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<%- include('./partials/footer.ejs') %>