<%- include('./partials/header.ejs') %>
<h2>Physical</h2>
<table>
    <tr>
        <th>Päivä</th>
        <th>Sports</th>
        <th>Time</th>
    </tr>
    <% allPhysical.forEach((physical) => { %>
        <a href="/sleep/<%= physical.id %>">
            <tr>
                <td><%= physical.date %></td>
                <td><%= physical.sport %></td>
                <td><%= physical.duration %></td>
            </tr>
        </a>
    <% }); %>
</table>
<form method="POST">
    <p>Date</p>
    <input type="date" name="date" />
    <br/>
    <p>Sport</p>
    <input type="text" name="sport" />
    <br/>
    <p>Duration</p>
    <input type="text" name="duration" />
    <br/>
    <br/>
    <input type="submit" value="Submit!" />
</form>